
.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 5%;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;

  .warn-text {
    color: var(--primary-color);
    font-style: italic
  }

  .form-title {
    width: 100%;
    text-align: center;
  }

  .form-array-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .field {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }

}
