.manga-container-wrapper {
  position: relative;

  .remove-button {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%) translateX(50%);
    scale: 75%;
    z-index: 5;
  }

  button {
    border: none;
  }

  .manga-container {
    position: relative;
    width: 140px;
    height: 210px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;

    img {
      width: inherit;
      height: inherit;
      transition: 0.2s ease-out;
    }

    .manga-title,.manga-chapters {
      position: absolute;
      left: 0;
      padding: 5px;

      max-width: inherit;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;

      opacity: 90%;
    }

    .manga-title {
      bottom: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: var(--text-primary-color);
      background-color: var(--primary-color);
    }

    .manga-chapters {
      top: 0;
      color: var(--text-primary-color);
      background-color: var(--primary-color);
    }

  }

  .manga-container:hover,.manga-container:focus {
    img {
      scale: 105%;
    }
    .manga-title,.manga-chapters {
      opacity: 100%;
    }
  }
}

