<ng-container *ngIf="!manga; else mangaFound">
  <app-full-screen-loader
    displayText="Your manga is loading."
  ></app-full-screen-loader>
</ng-container>

<ng-template #mangaFound>
  <div
    class="display-container-wrapper"
    [style.backgroundImage]="'url(' + imageUrl + ')'"
  >
    <div class="bg"></div>
    <div class="display-container cf">
      <div class="logo">
        <app-image-container
          [primaryUrl]="manga!.imagePath"
          [fallbackUrl]="manga!.pic"
        ></app-image-container>
      </div>
      <p class="mat-display-3 title">
        <span
          ><b>{{ manga!.name.toUpperCase() }}</b></span
        >
      </p>

      <p *ngIf="manga!.authors && manga!.authors.length > 0" class="mat-body-2">
        <b>Authors: </b>
        <ng-container *ngFor="let author of manga!.authors">
          {{ author }}
        </ng-container>
      </p>
      <p *ngIf="manga!.tags && manga?.tags?.length !== 0" class="mat-body-2">
        <b>Tags: </b>
        <span class="tag-wrapper">
          <ng-container *ngFor="let genre of manga!.tags; let last = last">
            <ng-container>
              <a
                mat-flat-button
                color="accent"
                [routerLink]="['/manga/browse']"
                [disabled]="!allTags.includes(genre)"
                [queryParams]="{ tags: allTags.indexOf(genre) }"
              >
                {{ genre }}
              </a>
            </ng-container>
          </ng-container>
        </span>
      </p>
      <p class="mat-body">
        <b>Added: </b>{{ manga!.addedDate.toLocaleDateString() }}
      </p>
      <p class="mat-body">
        <b>Last update: </b>{{ manga!.lastUpdateDate.toLocaleDateString() }}
      </p>
      <p *ngIf="manga!.description" class="mat-body">
        <b>Description: </b
        ><app-read-more
          [text]="manga!.description"
          [maxLength]="300"
        ></app-read-more>
      </p>

      <div class="button-panel">
        <div class="mat-button" style="cursor: default">
          <span class="mat-button-wrapper">
            <mat-icon style="margin-right: 8px">remove_red_eye</mat-icon>
            {{ manga!.viewCount }}
          </span>
        </div>
        <button mat-button color="primary" (click)="onLike()">
          <mat-icon
            *ngIf="!isLikedByUser"
            style="margin-right: 8px"
            color="primary"
            >thumb_up</mat-icon
          >
          <mat-icon
            *ngIf="isLikedByUser"
            style="margin-right: 8px"
            color="accent"
            >thumb_up</mat-icon
          >
          {{ manga!.likes.length }}
        </button>
        <button
          *ngIf="
            this.user &&
            this.user.accountType &&
            this.user.accountType === 'admin'
          "
          mat-flat-button
          class="delete-button"
          [color]="'warn'"
          (click)="onDelete()"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          *ngIf="
            this.user &&
            this.user.accountType &&
            this.user.accountType === 'admin'
          "
          mat-flat-button
          class="edit-button"
          [color]="'accent'"
          (click)="onEdit()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="this.user"
          class="continue-button"
          mat-flat-button
          color="accent"
          [disabled]="!this.readProgress"
          (click)="onContinueReading()"
        >
          Continue reading
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <section class="chapters-section">
    <h2>Chapters:</h2>
    <ul class="chapter-list-wrapper p-8">
      <ng-container *ngIf="manga && manga.chapters; else skeleton">
        <ng-container *ngFor="let chapter of manga!.chapters; let i = index">
          <li class="chapter-wrapper" (click)="onChapterSelect(i)">
            <span mat-button class="name-wrapper">
              {{ chapter.name }}
            </span>
            <button mat-icon-button color="primary" class="read-button">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </li>
        </ng-container>
      </ng-container>
      <ng-template #skeleton>
        <li>
          <ngx-skeleton-loader
            count="15"
            class="skeleton not-intractable"
            [style]="{ width: '100%' }"
            [theme]="{ height: '36px', 'margin-bottom': '0' }"
          >
          </ngx-skeleton-loader>
        </li>
      </ng-template>
    </ul>
  </section>
</ng-template>
