@media screen and (max-width: 720px) {
  .display-container {
    display: flex;
    flex-direction: column;
    .logo {
      align-self: center;
    }
  }
}
@media screen and (min-width: 721px) {
  .display-container {
    .logo {
      margin-right: 25px;
    }
  }
}

.display-container {
  margin: 25px 25px 5px 25px;

  .logo {
    float: left;
    width: 100%;
    max-width: 400px;
    margin-bottom: 24px;
  }
  .nowrap {
    white-space: nowrap;
  }
  .button-panel {
    display: flex;
    flex-direction: row;
    margin: 24px;
    gap: 10px;
  }
}

.chapter-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 25px 25px 25px;
  padding: 5px;
  box-shadow: 3px 3px 5px #00000070 inset;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
