.manga-container-wrapper {
  position: relative;
  height: 100%;

  button {
    border: none;
  }

  .manga-container {
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    aspect-ratio: 2/3;

    width: 135px;
    min-width: 80px;

    .manga-title,
    .manga-info {
      position: absolute;
      left: 0;
      padding: 5px;

      width: inherit;
      min-width: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      transition: opacity 0.2s ease-out;

      opacity: 90%;
    }

    .manga-title {
      bottom: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: var(--text-primary-color);
      background-color: var(--primary-color);
    }

    .manga-info {
      top: 0;
      color: var(--text-primary-color);
      background-color: var(--primary-color);
    }
  }

  .manga-container:hover,
  .manga-container:focus {
    .image-container {
      scale: 105%;
    }
    .manga-title,
    .manga-info {
      opacity: 100%;
    }
  }
}

@media screen and (max-width: 1300px) {
  .manga-container-wrapper {
    .manga-container {
      width: 13vw;
    }
  }
}
