<div class="manga-container-wrapper">
  <ng-container *ngIf="manga; else skeleton">
    <a
      class="manga-container"
      [routerLink]="['/manga', manga.id]"
      [style]="{ width: size ? size * 10 + 'px' : '' }"
      (click)="onClickRead()"
    >
      <app-image-container
        [primaryUrl]="manga.imagePath"
        [fallbackUrl]="manga.pic"
      ></app-image-container>
      <span class="manga-title mat-body-2">{{ manga.name }}</span>
      <span class="manga-info mat-body-1"
        >{{ manga.chapterCount }} chapters</span
      >
    </a>
  </ng-container>
  <ng-template #skeleton>
    <ngx-skeleton-loader
      count="1"
      class="manga-container not-intractable"
      [style]="{ display: 'block', width: size ? size * 10 + 'px' : '' }"
      [theme]="{ display: 'block', width: '100%', height: '100%' }"
    >
    </ngx-skeleton-loader>
  </ng-template>
</div>
