<div class="manga-container-wrapper">
  <ng-container *ngIf="manga; else skeleton">
    <button
      class="manga-container"
      [style]="{ width: size ? size * 10 + 'px' : '' }"
      (click)="onClickRead($event)"
    >
      <img [src]="manga.pic" alt="" />
      <span class="manga-title mat-body-2">{{ manga.name }}</span>
      <span class="manga-info">{{ manga.chapterCount }} chapters</span>
    </button>
  </ng-container>
  <ng-template #skeleton>
    <ngx-skeleton-loader
      count="1"
      class="manga-container not-intractable"
      [style]="{ display: 'block', width: size ? size * 10 + 'px' : '' }"
      [theme]="{ display: 'block', width: '100%', height: '100%' }"
    >
    </ngx-skeleton-loader>
  </ng-template>
</div>
