
.full-height-wrapper {
  min-height: 100vh;
  height: 100%;
}

app-navbar {
  margin-bottom: 12px;
}
app-footer {
  margin-top: 24px;
}

mat-drawer-container {
  background: transparent;
  mat-drawer-content {
    display: flex;
    flex-direction: column;
    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex: 1;
    }
  }

  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  mat-card {
    margin: 0 auto 0 auto;
  }
}
