@import "src/styles.scss";

.site-content {
  max-width: 1300px;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 0 !important;
}

.full-height-wrapper {
  min-height: 100vh;
  height: 100%;
}
