<div
  class="br-emo-line"
  [ngStyle]="{
    background: 'url(assets/emoji-pattern-dy.png)',
    'background-size': 'cover'
  }"
></div>
<section class="welcome-section">
  <div class="text-box">
    <h1 class="mat-display-3">Welcome to Manga dot!</h1>
    <div class="mat-body-2">
      Immerse yourself in the captivating world of manga and comic books.
      Whether you're a passionate manga enthusiast or a comic book aficionado,
      we've prepared a
      <a [routerLink]="'/manga/browse'"><b>vast collection of titles</b></a> for
      you to explore and enjoy.
    </div>
    <p class="mat-body-2" style="text-align: center">
      <b>Happy reading everyone!</b>
    </p>
  </div>
</section>

<app-manga-carousel
  *ngIf="user"
  [title]="'Continue reading'"
  [mangaList]="readMangaList"
  [useProgress]="true"
  [itemsPerPage]="6"
  [size]="25"
></app-manga-carousel>

<app-manga-carousel
  [title]="browseElements['popular'].title"
  [titleNav]="browseElements['popular'].titleNav"
  [mangaList]="browseElements['popular'].mangaList"
  [itemsPerPage]="browseElements['popular'].itemsPerPage"
></app-manga-carousel>

<app-manga-carousel
  [title]="browseElements['new'].title"
  [titleNav]="browseElements['new'].titleNav"
  [mangaList]="browseElements['new'].mangaList"
  [itemsPerPage]="browseElements['new'].itemsPerPage"
></app-manga-carousel>

<section class="contact-section">
  <h2 class="mat-h2" style="text-align: center">
    <a [routerLink]="'contact'">Contact us</a>
  </h2>
  <span class="mat-body description">
    Did you come across any missing chapters or pages? Do you have any questions
    or ideas to help us enhance your experience on our website? If your answer
    is 'yes' to any of these, we would love to hear from you! Visit our
    <a [routerLink]="'contact'">contact section</a> or reach out to us directly
    via email at <b>mangadot.contact&#64;gmail.com</b>. We value your feedback
    and look forward to hearing from you!
  </span>
  <div
    class="contact-section-background"
    [ngStyle]="{
      background: 'url(assets/pica_bg.jpg) no-repeat center',
      'background-size': 'cover'
    }"
  ></div>
</section>

<app-manga-carousel
  [title]="browseElements['bestRated'].title"
  [titleNav]="browseElements['bestRated'].titleNav"
  [mangaList]="browseElements['bestRated'].mangaList"
  [itemsPerPage]="browseElements['bestRated'].itemsPerPage"
></app-manga-carousel>
