<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="add-manga-form form-group"
>
  <div class="form-title mat-display-2">Add new manga</div>
  <button
    mat-icon-button
    type="button"
    class="more-button"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Title" />
  </mat-form-field>

  <mat-form-field class="picture-preview-trigger">
    <input matInput formControlName="picture" placeholder="Picture url" />
    <img class="picture-preview" alt="" [src]="picture.value" />
  </mat-form-field>

  <div class="form-array-wrapper" formArrayName="authors">
    <label for="authors" class="mat-h2">Authors</label>
    <ng-container *ngFor="let author of authors.controls; let i = index">
      <mat-form-field [formGroup]="getControlGroup(author)" id="authors">
        <div class="field">
          <input matInput formControlName="name" type="text" />
          <button
            mat-icon-button
            (click)="removeArrayEntry(authors, i)"
            type="button"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </mat-form-field>
    </ng-container>
    <button mat-mini-fab (click)="addArrayEntry(authors, '')" type="button">
      <mat-icon color="primary" style="align-self: center">add</mat-icon>
    </button>
  </div>

  <div class="form-array-wrapper" formArrayName="tags">
    <label for="tag" class="mat-h2">Tags</label>
    <ng-container *ngFor="let tag of tags.controls; let i = index">
      <mat-form-field [formGroup]="getControlGroup(tag)" id="genre">
        <div class="field">
          <input matInput formControlName="name" type="text" />
          <button
            mat-icon-button
            (click)="removeArrayEntry(tags, i)"
            type="button"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </mat-form-field>
    </ng-container>
    <button mat-mini-fab (click)="addArrayEntry(tags, '')" type="button">
      <mat-icon color="primary" style="align-self: center">add</mat-icon>
    </button>
  </div>

  <mat-form-field style="width: 100%">
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="5"
      formControlName="description"
      placeholder="Description"
    >
    </textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="beforeUrl" placeholder="Before url" />
  </mat-form-field>

  <div class="form-group" [formGroup]="pagesLocate" id="pagesLocate">
    <label for="pagesLocate" class="form-title mat-display-1"
      >Scrapper pages locate</label
    >

    <mat-form-field>
      <input matInput formControlName="lookedType" placeholder="Element type" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="lookedAttribute"
        placeholder="Element attribute"
      />
    </mat-form-field>

    <div class="form-array-wrapper" formArrayName="positions">
      <label for="position" class="mat-h2">Possible positions in html</label>
      <div class="mat-body warn-text">ex. .separator > a</div>
      <ng-container
        *ngFor="let position of pagesLocatePositions.controls; let i = index"
      >
        <mat-form-field [formGroup]="getControlGroup(position)" id="position">
          <div class="field">
            <input matInput formControlName="name" type="text" />
            <button
              mat-icon-button
              (click)="
                removeArrayEntry(getFormArray(pagesLocate, 'positions'), i)
              "
              type="button"
              *ngIf="pagesLocatePositions.controls.length > 1"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </ng-container>
      <button
        mat-mini-fab
        (click)="addArrayEntry(getFormArray(pagesLocate, 'positions'), '')"
        type="button"
      >
        <mat-icon color="primary" style="align-self: center">add</mat-icon>
      </button>
    </div>

    <div class="form-array-wrapper" formArrayName="urls">
      <label for="url" class="mat-h2">Possible urls</label>
      <div class="mat-body warn-text">
        Put '!!!' in place of chapter number, ex.
        https://example/manga/chapter-!!!
      </div>
      <ng-container *ngFor="let url of pagesLocateUrls.controls; let i = index">
        <mat-form-field [formGroup]="getControlGroup(url)" id="url">
          <div class="field">
            <input matInput formControlName="name" type="text" />
            <button
              mat-icon-button
              (click)="removeArrayEntry(getFormArray(pagesLocate, 'url'), i)"
              type="button"
              *ngIf="pagesLocateUrls.controls.length > 1"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </ng-container>
      <button
        mat-mini-fab
        (click)="addArrayEntry(getFormArray(pagesLocate, 'url'), '')"
        type="button"
      >
        <mat-icon color="primary" style="align-self: center">add</mat-icon>
      </button>
    </div>
  </div>

  <div
    class="form-group"
    [formGroup]="chapterNameLocate"
    id="chapterNameLocate"
  >
    <label for="chapterNameLocate" class="form-title mat-display-1"
      >Scrapper chapter name locate</label
    >

    <mat-form-field>
      <input matInput formControlName="lookedType" placeholder="Element type" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="lookedAttribute"
        placeholder="Element attribute"
      />
    </mat-form-field>

    <div class="form-array-wrapper" formArrayName="positions">
      <label for="position" class="mat-h2">Possible positions in html</label>
      <div class="mat-body warn-text">ex. .separator > a</div>
      <ng-container
        *ngFor="
          let position of getFormArray(chapterNameLocate, 'positions').controls;
          let i = index
        "
      >
        <mat-form-field [formGroup]="getControlGroup(position)">
          <div class="field">
            <input matInput formControlName="name" type="text" />
            <button
              mat-icon-button
              (click)="
                removeArrayEntry(
                  getFormArray(chapterNameLocate, 'positions'),
                  i
                )
              "
              type="button"
              *ngIf="
                getFormArray(chapterNameLocate, 'positions').controls.length > 1
              "
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </ng-container>
      <button
        mat-mini-fab
        (click)="
          addArrayEntry(getFormArray(chapterNameLocate, 'positions'), '')
        "
        type="button"
      >
        <mat-icon color="primary" style="align-self: center">add</mat-icon>
      </button>
    </div>

    <div class="form-array-wrapper" formArrayName="urls">
      <label for="url" class="mat-h2">Possible urls</label>
      <ng-container
        *ngFor="
          let url of getFormArray(chapterNameLocate, 'urls').controls;
          let i = index
        "
      >
        <mat-form-field [formGroup]="getControlGroup(url)" id="url">
          <div class="field">
            <input matInput formControlName="name" type="text" />
            <button
              mat-icon-button
              (click)="
                removeArrayEntry(getFormArray(chapterNameLocate, 'urls'), i)
              "
              type="button"
              *ngIf="
                getFormArray(chapterNameLocate, 'urls').controls.length > 1
              "
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </ng-container>
      <button
        mat-mini-fab
        (click)="addArrayEntry(getFormArray(chapterNameLocate, 'urls'), '')"
        type="button"
      >
        <mat-icon color="primary" style="align-self: center">add</mat-icon>
      </button>
    </div>
  </div>

  <div class="form-group" [formGroup]="chapterUrlLocate" id="chapterUrlLocate">
    <label for="chapterUrlLocate" class="form-title mat-display-1"
      >Scrapper chapter url locate</label
    >

    <mat-form-field>
      <input matInput formControlName="lookedType" placeholder="Element type" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="lookedAttribute"
        placeholder="Element attribute"
      />
    </mat-form-field>

    <div class="form-array-wrapper" formArrayName="positions">
      <label for="position" class="mat-h2">Possible positions in html</label>
      <div class="mat-body warn-text">ex. .separator > a</div>
      <ng-container
        *ngFor="
          let position of getFormArray(chapterUrlLocate, 'positions').controls;
          let i = index
        "
      >
        <mat-form-field [formGroup]="getControlGroup(position)">
          <div class="field">
            <input matInput formControlName="name" type="text" />
            <button
              mat-icon-button
              (click)="
                removeArrayEntry(getFormArray(chapterUrlLocate, 'positions'), i)
              "
              type="button"
              *ngIf="
                getFormArray(chapterUrlLocate, 'positions').controls.length > 1
              "
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </ng-container>
      <button
        mat-mini-fab
        (click)="addArrayEntry(getFormArray(chapterUrlLocate, 'positions'), '')"
        type="button"
      >
        <mat-icon color="primary" style="align-self: center">add</mat-icon>
      </button>
    </div>

    <div class="form-array-wrapper" formArrayName="urls">
      <label for="url" class="mat-h2">Possible urls</label>
      <ng-container
        *ngFor="
          let url of getFormArray(chapterUrlLocate, 'urls').controls;
          let i = index
        "
      >
        <mat-form-field [formGroup]="getControlGroup(url)" id="url">
          <div class="field">
            <input matInput formControlName="name" type="text" />
            <button
              mat-icon-button
              (click)="
                removeArrayEntry(getFormArray(chapterUrlLocate, 'urls'), i)
              "
              type="button"
              *ngIf="getFormArray(chapterUrlLocate, 'urls').controls.length > 1"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </ng-container>
      <button
        mat-mini-fab
        (click)="addArrayEntry(getFormArray(chapterUrlLocate, 'urls'), '')"
        type="button"
      >
        <mat-icon color="primary" style="align-self: center">add</mat-icon>
      </button>
    </div>
  </div>

  <button
    type="button"
    mat-raised-button
    color="primary"
    [disabled]="!isFormValid"
    (click)="onTest()"
  >
    {{ lastTestedForm ? "Test again" : "Test" }}
  </button>

  <button mat-raised-button color="accent" [disabled]="!lastTestedForm">
    Submit
  </button>
</form>

<app-full-screen-loader
  *ngIf="isLoading"
  displayText="This may take some time. Please, be patient"
></app-full-screen-loader>

<mat-menu #menu="matMenu">
  <button mat-menu-item type="button" (click)="clearForm()">
    <mat-icon color="warn">replay</mat-icon> Reset form
  </button>
  <button mat-menu-item type="button" (click)="fileInput.click()">
    <mat-icon color="primary">upload</mat-icon> Import data
  </button>
  <button mat-menu-item type="button" (click)="onExport()">
    <mat-icon color="primary">download</mat-icon> Export data
  </button>
</mat-menu>
<input
  #fileInput
  type="file"
  (change)="onImport($event)"
  accept=".json"
  hidden
/>
