<div class="manga-carousel">
  <a
    *ngIf="titleNav"
    class="mat-h2 title"
    style="align-self: start"
    [routerLink]="titleNav.link"
    [queryParams]="titleNav.queryParams"
    >{{ title }}</a
  >
  <h2 *ngIf="!titleNav" class="mat-h2 title" style="align-self: start">
    {{ title }}
  </h2>
  <div class="divider"></div>

  <div class="carousel">
    <div class="nav-buttons">
      <div *ngIf="!isScrollMaxLeft" class="left-nav-wrapper" (click)="goPrev()">
        <button mat-icon-button class="mat-white">
          <mat-icon>arrow_left</mat-icon>
        </button>
      </div>
      <div
        *ngIf="!isScrollMaxRight"
        class="right-nav-wrapper"
        (click)="goNext()"
      >
        <button mat-icon-button class="mat-white">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
    </div>

    <div
      class="carousel-elements-wrapper"
      #carouselWrapperRef
      (scroll)="onScroll()"
    >
      <ng-container *ngIf="useProgress; else regularList">
        <ng-container *ngFor="let manga of mangaList; let i = index">
          <app-manga-cover-tile-progress
            [manga]="manga"
            [size]="size"
          ></app-manga-cover-tile-progress>
        </ng-container>

        <ng-container *ngIf="!mangaList">
          <ng-container *ngFor="let i of fakeArray(itemsPerPage)">
            <app-manga-cover-tile-progress
              [size]="size"
            ></app-manga-cover-tile-progress>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #regularList>
        <ng-container *ngFor="let manga of mangaList; let i = index">
          <app-manga-cover-tile
            [manga]="manga"
            [size]="size"
          ></app-manga-cover-tile>
        </ng-container>

        <ng-container *ngIf="!mangaList">
          <ng-container *ngFor="let i of fakeArray(itemsPerPage)">
            <app-manga-cover-tile [size]="size"></app-manga-cover-tile>
          </ng-container>
        </ng-container>
      </ng-template>

      <ng-container *ngIf="mangaList && mangaList.length === 0">
        <div
          class="tile-replacer"
          [style]="{
            height: size ? size * 10 + size * 10 * 0.5 + 'px' : '202.5px'
          }"
        >
          Sorry, but we didn't find anything
          <ng-container *ngIf="useProgress"
            >, try reading something and then come back!</ng-container
          >
        </div>
      </ng-container>
    </div>
  </div>
</div>
