
<div class="pages-wrapper">
  <ng-container *ngIf="!isInitialized.manga && !isInitialized.pages; else initialized">
    <mat-spinner color="accent"></mat-spinner>
  </ng-container>
  <ng-template #initialized>
    <ng-container *ngIf="manga && manga!.chapters[chapter].pages; else contentNotFound">
      <ng-container *ngTemplateOutlet="contentFound"></ng-container>
    </ng-container>
  </ng-template>
</div>

<ng-template #contentFound>
  <ng-container *ngTemplateOutlet="floatingActions"></ng-container>
  <span class="mat-display-2">
    <a (click)="goToChapterSelect()">{{ manga!.name }}</a>: {{ manga!.chapters[chapter].name }}
  </span>
  <ng-container *ngFor="let page of manga!.chapters[chapter].pages">
    <img [src]="sanitizeUrl(page.url)" alt="no image">
  </ng-container>
</ng-template>

<ng-template #contentNotFound>
  <ng-container *ngTemplateOutlet="floatingActions"></ng-container>
  <span class="mat-display-1" style="text-align: center; padding: 50px">
    This chapter cannot be accessed, or doesn't exist. Sorry for inconvenience, try again later.
  </span>
</ng-template>

<ng-template #floatingActions>
  <div class="floating-actions-wrapper">
    <button mat-icon-button class="previous-button" *ngIf="!isFirstChapter" (click)="navigateToPreviousChapter()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button class="next-button" *ngIf="!isLastChapter" (click)="navigateToNextChapter()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</ng-template>
