.pages-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 6px 24px 6px;

  .title-wrapper {
    width: 100%;
    text-align: center;
    margin: 12px 0 12px 0;

    .back-button {
      float: left;
    }
  }

  img {
    margin: auto;
    max-width: 1000px;
    width: 100%;
  }

  .action-box {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 12px 0 12px 0;

    .button-wrapper {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      button {
        width: 130px;
      }
    }
  }
}
