
.manga-browse-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  a {
    &:hover {
      opacity: 80%;
    }
  }

  .action-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0 10px;

    .search-input-field {
      width: 400px;
    }

    .size-slider-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 200px;
      span + mat-slider {
        margin-left: 10px;
      }
    }
  }
}

.manga-list-container {
  display: flex;
  flex-grow: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 5px;

  animation: .5s linear;
}

@media screen and (max-width: 800px) {
  .manga-browse-section {
    .action-bar {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
