
mat-toolbar {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 75px;
  img {
    height: 100%;
  }
}


@media (max-width: 800px) {
  mat-toolbar {
    flex-direction: column;
  }
  .main-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
  }

  .search-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
  }
}
