
.side-drawer {
  min-width: 200px;
  height: 100%;
}

a {
  box-sizing: border-box;
}

a.active {
  border-left: #ffc300 6px solid;
  background-color: #fafafa;
}

.login-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
